

<script src="javascripts/game-selection.js"></script>

<link href="/stylesheets/game-selection.css" rel="stylesheet">



<section>

  <h1 id="selection-info"> Herzlich Willkommen</h1>


  <!-- Auswahl Operator -->

  <div class="selection" id="operation">
    <% @gamecategories.each do |k1|  %>

        <div class = "btn btn-lg selection-button operators" long_descr="<%= k1[:long_descr] %>" id="<%= k1[:name] %>" style="background-image: url(/images/games/<%= k1[:img_filename]%>);"></div>
    <% end %>
  </div>

  <div class="indicator" id="indicatorOperation"></div>

  <!-- Auswahl Zahlenbereich -->


  <% @gamecategories.each do |k1|  %>
      <div class="selection" id="<%= k1[:name] %>range" style="display:none">
        <%if !k1[:ranges].nil? %>
            <% k1[:ranges].each do |k2| %>

                <div class ="btn btn-lg selection-button range r<%= k2[:name] %>" long_descr="<%= k2[:long_descr] %>" id="<%= k1[:name] + k2[:name] %>" style="background-image: url(/images/games/<%= k2[:img_filename]%>);"></div>

            <% end %>
        <% end %>
      </div>
  <% end %>

  <div class="indicator" id="indicatorRange"></div>


  <!-- Auswahl Spiel -->
  <% @gamecategories.each do |k1| %>
      <% if !k1[:ranges].nil? %>
          <% k1[:ranges].each do |k2| %>
            <div class="selection" id="<%= k1[:name] + k2[:name]%>games" style="display:none">
              <% unless k2[:types].nil? %>
              <% k2[:types].each do |k3| %>
                <a href="/games/<%= k1[:name] %>/<%= k2[:name] %>/<%= k3[:name] %>">
                    <div class = "btn btn-lg selection-button games <%= k3[:name] %>" id="<%= k1[:name] + k2[:name] + k3[:name] %>" style="background-image: url(/images/games/<%= k3[:img_filename]%>);"></div>
                </a>
              <% end %>
              <% end %>
            </div>
          <% end %>
      <% end %>
  <% end %>

</section>