<script src="javascripts/game-selection.js"></script>

<link href="/stylesheets/game-selection.css" rel="stylesheet">



<section>
  <div id="info-box">
    <h2 id="selection-info"> Herzlich Willkommen</h2>
  </div>

  <!-- Auswahl Operator -->

  <div class="selection" id="operation">
    <% @gamecategories.each do |operator| %>

        <div class="btn btn-lg selection-button operators" long_descr="<%= operator[:long_descr] %>" id="<%= operator[:name] %>" style="background-image: url(/images/games/<%= operator[:img_filename]%>);"></div>
    <% end %>
  </div>

  <div class="indicator" id="indicatorOperation"></div>

  <!-- Auswahl Zahlenbereich -->

  <% @gamecategories.each do |operator| %>
      <div class="selection" id="<%= operator[:name] %>range" style="display:none">
        <% if !operator[:ranges].nil? %>
            <% operator[:ranges].each do |range| %>

                <div class="btn btn-lg selection-button range r<%= range[:name] %>" long_descr="<%= range[:long_descr] %>" id="<%= operator[:name] + range[:name] %>" style="background-image: url(/images/games/<%= range[:img_filename]%>);"></div>

            <% end %>
        <% end %>
      </div>
  <% end %>

  <div class="indicator" id="indicatorRange"></div>


  <!-- Auswahl Spiel -->
  <% @gamecategories.each do |operator| %>
      <% if !operator[:ranges].nil? %>
          <% operator[:ranges].each do |range| %>
              <div class="selection" id="<%= operator[:name] + range[:name] %>games" style="display:none">
                <% unless range[:types].nil? %>
                    <% range[:types].each do |type| %>
                        <a href="/games/<%= operator[:name] %>/<%= range[:name] %>/<%= type[:name] %>">
                          <div class="btn btn-lg selection-button games <%= type[:name] %>" long_descr="<%= type[:long_descr] %>" id="<%= operator[:name] + range[:name] + type[:name] %>" style="background-image: url(/images/games/<%= type[:img_filename]%>);"></div>
                        </a>
                    <% end %>
                <% end %>
              </div>
          <% end %>
      <% end %>
  <% end %>

</section>