<link href="/stylesheets/game-style/<%= @game[:css_filename]%>" rel="stylesheet">
<link href="/stylesheets/games.css" rel="stylesheet">

<section id="game" data-g_id="<%= @game[:id] %>">

  <div id="start_div" >

  </div>

  <div id="pause_div">

  </div>

  <div id="game_div" >

    <div id="gameChosen">
      <img src="/images/games/<%= @operator[:img_filename]%>" id="first"/>
      <img src="/images/games/<%= @range[:img_filename]%>" id="second"/>
      <img src="/images/games/<%= @type[:img_filename]%>" id="third"/>
    </div>

  </div>

  <div id="end_game_div">

  </div>

  <div id="answerResponse">

  </div>

</section>
	<%= "<script src='#{settings.game_dir}" + @game[:filename] + "'></script>" %>
    <script src="/javascripts/postHighscore.js"></script>