

<script src="javascripts/game-selection.js"></script>

<link href="/stylesheets/game-selection.css" rel="stylesheet">



<section>

  <h1 id="selection-info"> Herzlich Willkommen<!doctype html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <title>Document</title>
    </head>
    <body>
    
    </body>
    </html></h1>

  <!-- Auswahl Operator -->

  <div class="selection" id="operation">
    <% @gamecategories.each do |k1|  %>
        <div class = "btn btn-lg selection-button operators" long_descr="<%= k1[:long_descr] %>" name="<%= k1[:name] %>" id="<%= k1[:name] %>"></div>
    <% end %>
  </div>

  <!-- Auswahl Zahlenbereich -->


  <% @gamecategories.each do |k1|  %>
      <div class="selection" id="<%= k1[:name] %>range" style="display:none">
        <%if !k1[:ranges].nil? %>
            <% k1[:ranges].each do |k2| %>
                <div class ="btn btn-lg selection-button range" long_descr="<%= k2[:long_descr] %>" id="<%= k1[:name] + k2[:name] %>"></div>
            <% end %>
        <% end %>
      </div>
  <% end %>


  <!-- Auswahl Spiel -->



</section>