

<script src="javascripts/game-selection.js"></script>

<link href="stylesheets/game-selection.css" rel="stylesheet">

<section>

  <!-- Auswahl Operator -->

  <div class="selection" id="operation">
    <% @gamecategories.each{ |k1|  %>
        <div class = "btn btn-lg selection-button operators" name="<%=k1[:name] %>" id="<%= k1[:name] %>"></div>
    <% }%>
  </div>

  <!-- Auswahl Zahlenbereich -->


  <% @gamecategories.each{ |k1|  %>
      <div class="selection" id="<%= k1[:name] %>range" style="display:none">
        <% k1[:ranges].each { |k2| %>
            <div class = "btn btn-lg selection-button range" name = "<%= k2[:name] %>" id="<%= k1[:name] + k2[:name] %>"></div>
        <% } %>
      </div>
  <% }%>


  <!-- Auswahl Spiel -->


  <% @gamecategories.each{ |k1|  %>
      <% k1[:ranges].each { |k2| %>
          <div class="selection" id="<%= k1[:name] + k2[:name] %>games" style="display:none">
            <% k2[:gametypes].each { |k3| %>
                <div class = "btn btn-lg selection-button games" name = "<%= k3[:name] %>" id="<%=k1[:name] + k2[:name] + k3[:name] %>"></div>
            <% } %>
          </div>
      <% } %>
  <% }%>

</section>