

<link href="/stylesheets/profil.css" rel="stylesheet">

    <section>
                       <!-- Trophähen -->

        <div id="myProfil">

          <h2 id="page-info">Hallo <%= @user[:firstname] %></h2>

          <div id="myCarousel" class="col-md-8 carousel slide">

            <!--
              <div id="button2">
                  <div class="trophy btn btn-lg">hover me</div>
                  <div class="con" style="display: none;"></div>
              </div>

              -->

            <div id="trophies">

              <!-- Indicators -->
              <ol class="carousel-indicators">
                  
                  <% i = 0 %>
                  <% @gamecategories.each do |cat| %>
                    <% if (i == 0) %>
                      <li data-target="#myCarousel" data-slide-to="<%= i %>" class="active"></li>
                    <% else %>
                      <li data-target="#myCarousel" data-slide-to="<%= i %>"></li>
                    <% end %>
                    <% i+= 1 %>
                  <% end %>

              </ol>

              <!-- Wrapper for Slides -->
              <div class="carousel-inner">
          
                  <% i = 0 %>
                  <% @gamecategories.each do |cat| %>
                    <% if (i == 0) %>
                      <div class="item active">
                    <% else %>
                      <div class="item">
                    <% end %>

                      <div class="fill">
                        <% unless cat[:ranges] == nil %>
                          <% cat[:ranges].each do |range| %>
                            <h4><%= range[:name] %> </h4>
                            <div class="row gametypes">
                              
                              <% unless range[:types] == nil %>
                                <% range[:types].each do |type| %>
                                  <div class="col-md-6 col-sm-3 col-xs-12 gamename">
                                    <%= type[:name] %>
                                  </div>
                                  <div class="col-md-6 col-sm-3 col-xs-12 gametrophies"> 
                                    <% game_trophies = @trophies[type[:game_id]] %>
                                    <% if (game_trophies == nil) %>
                                      <% 3.downto(1) do |i| %>
                                          <div class="trophy notwon %>" data-pod="<%= i %>"></div>
                                      <% end %>
                                    <% else %>
                                      <% 3.downto(1) do |i| %>
                                          <div class="trophy <%= game_trophies.include?(i)? 'won' : 'notwon' %>" data-pod="<%= i %>"></div>
                                      <% end %>
                                    <% end %>
                                  </div>
                                <% end %>
                              <% end %>
                              <p></p>
                              <p></p>
                            
                            </div>
                          <% end %>
                        <% end %>
                      </div>
                      <div class="carousel-caption">
                        <h2> <%= cat[:descr]  %></h2>
                      </div>
                    </div>

                    <% i+= 1 %>
                  <% end %>

              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
              </a>

            </div>


          </div>
          <!-- Freundesliste -->

          <div class="col-md-4">
            <div id="friendlist" >


              <input class="input-lg" placeholder="Nach Freunden suchen" type ="text" id="friendsearchinput" oninput="searchFriend()"/>

              <div id="responseDiv" class="friendList" ></div>
              <ul>
                <% if @friendinfo.empty? %>
                    <p>KEINE FREUNDE HAHA MOF</p>
                <% else %>
                    <% @friendinfo.each do |friend|%>
                        <li><%= friend[0][:username] %></li>
                    <% end %>
                <% end %>
              </ul>
            </div>


          </div>

        </div>


      <!-- --------------Friendoverlay-------------- -->

        <div class="friendOverlay">

            <div id="friendProfil">

             <div id="friendTrophies">

             </div>

             <div id="controlls">
                  <h1>Freundesname</h1>
                  <div class="btn btn-lg btn-xl btn-outline" id="hideFriendProfil">Zurück zum Profil</div>
             </div>

            </div>

        </div>
    </section>

<script src="/javascripts/trophyAjax.js"></script>
<script src="/javascripts/profil.js"></script>
