

<link href="/stylesheets/profil.css" rel="stylesheet">

    <section>
                       <!-- Trophähen -->

        <div id="myProfil">

          <h2 id="page-info"><%= @friend[:firstname] %>s Profil</h2>

          

          <div id="myCarousel" class="col-md-8 carousel slide">
			<% if (@friendStatus == 3) %>
            <!--
              <div id="button2">
                  <div class="trophy btn btn-lg">hover me</div>
                  <div class="con" style="display: none;"></div>
              </div>

              -->

            <div id="trophies">



              <!-- Wrapper for Slides -->
              <div class="carousel-inner">
                <% i = 0 %>
                <% @gamecategories.each do |cat| %>
                    <% if (i == 0) %>
                        <div class="item active">
                    <% else %>
                        <div class="item">
                    <% end %>

                    <div class="carousel-caption">
                      <h1 id="description"> <%= cat[:descr]  %></h1>
                    </div>

                    <div class="fill">
                      <% unless cat[:ranges] == nil %>
                          <% cat[:ranges].each do |range| %>

                              <div class="ranges ">
                                <h2><%= range[:name] %></h2>
                                <hr>
                              </div>

                              <div class="row gametypes">

                                <% unless range[:types] == nil %>
                                    <% range[:types].each do |type| %>
                                        <div class=" col-md-offset-2 col-md-2 gamename">
                                          <h3><%= type[:name] %></h3>
                                        </div>
                                        <div class="col-md-6 col-md-offset-1 gametrophies">
                                          <% game_trophies = @trophies[type[:game_id]] %>
                                          <% if (game_trophies == nil) %>
                                              <% 3.downto(1) do |i| %>
                                                  <div class="trophy notwon %>" data-pod="<%= i %>"></div>
                                              <% end %>
                                          <% else %>
                                              <% 3.downto(1) do |i| %>
                                                  <div class="trophy <%= game_trophies.include?(i)? 'won' : 'notwon' %>" data-pod="<%= i %>"></div>
                                              <% end %>
                                          <% end %>
                                        </div>
                                    <% end %>
                                <% end %>

                              </div>
                          <% end %>
                      <% end %>
                    </div>

                    </div>

                    <% i+= 1 %>
                <% end %>

                </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
              </a>

                <ol class="carousel-indicators">

                  <% i = 0 %>
                  <% @gamecategories.each do |cat| %>
                      <% if (i == 0) %>
                          <li data-target="#myCarousel" data-slide-to="<%= i %>" class="active"></li>
                      <% else %>
                          <li data-target="#myCarousel" data-slide-to="<%= i %>"></li>
                      <% end %>
                      <% i+= 1 %>
                  <% end %>

                </ol>
            <% else %>

                <h1>
                  Du kannst <%= @friend[:firstname] %>s Medaillen erst sehen, wenn er dich zu seiner Freundesliste hinzufügt
                </h1>

			<% end %>
            </div>
          </div>
          <!-- --------------Freundesliste-------------- -->

          <div class="col-md-4">
            <div>
				<% case @friendStatus
				   when 0 %>
            		Button zum Adden: <input class="addBtn" type="button" value="+" id="<%= @friend[:id] %>">
            	<% when 1 %>
            		Freundschaftsanfrage steht aus. <input class = "unfriendBtn" type="button" value="Abbrechen" id="<%= @friend[:id] %>">
            	<% when 2 %>
            		Freunschafsanfrage annehmen: <input class="addBtn" type="button" value="+" id="<%= @friend[:id] %>">
            	<% when 3 %>
              		Du bist mit <%= @friend[:firstname] %> befreundet. Entfreunden: <input class="unfriendBtn" type="button" value="Als Freund entfernen" id="<%= @friend[:id] %>">
            	<% else %>
            		Something went wrong
            	<% end %>
            </div>
          </div>
        </div>





      </div>
    </section>

<script src="/javascripts/trophyAjax.js"></script>
<script src="/javascripts/profil.js"></script>

